/*
Add User Form
*/

.addUserForm {
  border: 2px black;
  border-radius: 10px
}

.addUserTitle {
	font-size: 20px;
}

.addUserField {
	width: 200px;
	margin: 10px;
}

/*
User View
*/

.user {
	border: 1px solid black;
	border-radius: 2px;
	float: left;
	font-size: 20px;
	white-space: nowrap;
	width: 90%;
	margin: 5px;
}

.username{
  float: left;
  margin: 2px 10px 2px 2px;
  width: 20%;
}

.rolesTitle{
	float: left;
	margin: 2px 10px 2px 2px;
}

.role{
	float: left;
	margin: 2px 2px 2px 2px;
	width: 15%;
}


.userRole{
	font-size: 20px;
	float: left;
	border: none;
}

.userButton{
	float: right;
	margin: 2px;
}