/* Add User Form */

.addUserForm {
  border: 2px black;
  border-radius: 10px;
  margin: 10px;
}

.addFormTitle {
  font-size: 25px;
}

.addUserTitle {
	font-size: 20px;
}

.addUserField {
	width: 200px;
	margin: 10px;
}
/* User List */

.userList { 
  font-size: 30px;
  margin: 10px;
}

/* User View */

.user {
	border-radius: 2px;
	display: inline-block;
	font-size: 20px;
	white-space: nowrap;
	width: 90%;
	margin: 5px;
}

.username {
  display: inline-block;
  margin: 2px 10px 2px 10px;
  width: 200px;
}

.rolesTitle {
	display: inline-block;
	margin: 2px 10px 2px 2px;
}

.role {
	display: inline-block;
	margin: 2px 2px 2px 2px;
	width: 160px;
}

.roleEdit {
  display: inline-block;
	margin: 2px 2px 2px 2px;
	width: 160px;
}

.userRole {
	font-size: 20px;
	display: inline-block;
	border: none;
}

.userButton {
	display: inline-block;
	margin: 5px;
}